PROXMOX_HOST=192.168.100.2
PROXMOX_USER=ccapiuser@pve
PROXMOX_PASSWORD=change-me
PROXMOX_VERIFY_SSL=false
PROXMOX_API_TIMEOUT=20
PROXMOX_ISO_STORAGE=ISO
PROXMOX_DATA_STORAGE=data-ssd-2
PVE_ANALYTICS_TIMEZONE=Asia/Taipei
