[
  {
    "alias": "gpt-oss-20B",
    "model_name": "./AImodels/gpt-oss-20B",
    "api_port": 8103,
    "max_model_len": 24576,
    "gpu_memory_utilization": 0.45,
    "max_num_seqs": 24,
    "max_num_batched_tokens": 49152,
    "tiktoken_encodings_base": "./tiktoken_encodings",
    "quantization": "",
    "tool_call_parser": "",
    "reasoning_parser": "",
    "kv_cache_dtype": ""
  },
  {
    "alias": "Qwen/Qwen3-14B-FP8",
    "model_name": "./AImodels/Qwen3-14B-FP8",
    "api_port": 8104,
    "max_model_len": 24576,
    "gpu_memory_utilization": 0.35,
    "max_num_seqs": 24,
    "max_num_batched_tokens": 49152,
    "quantization": "",
    "tool_call_parser": "",
    "reasoning_parser": "",
    "kv_cache_dtype": ""
  },
  {
    "alias": "qwen-9b",
    "model_name": "./AImodels/Qwen3.5-9B",
    "api_port": 8101,
    "max_model_len": 32768,
    "gpu_memory_utilization": 0.15,
    "max_num_seqs": 48,
    "max_num_batched_tokens": 65536,
    "quantization": "",
    "tool_call_parser": "",
    "reasoning_parser": "",
    "kv_cache_dtype": ""
  },
  {
    "alias": "nemotron-30b",
    "model_name": "./AImodels/NVIDIA-Nemotron-3-Nano-30B-A3B-NVFP4",
    "api_port": 8102,
    "max_model_len": 24576,
    "gpu_memory_utilization": 0.45,
    "max_num_seqs": 24,
    "max_num_batched_tokens": 49152,
    "quantization": "",
    "tool_call_parser": "",
    "reasoning_parser": "",
    "kv_cache_dtype": ""
  },
  {
    "alias": "gemma-27b",
    "model_name": "./AImodels/gemma-3-27b-it",
    "api_port": 8103,
    "max_model_len": 24576,
    "gpu_memory_utilization": 0.9,
    "max_num_seqs": 24,
    "max_num_batched_tokens": 49152,
    "quantization": "",
    "tool_call_parser": "",
    "reasoning_parser": "",
    "kv_cache_dtype": ""
  }
]
