.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.env
claude.md
.claude
__pycache__/
*.pyc
*.pyo
vllm-inference/benchmark_results/
*.egg-info/
vllm-inference/build/
vllm-inference/.github/
vllm-inference/.agents/
vllm-inference/test_datasets/
vllm-inference/webapp/frontend/node_modules