*.vscode/
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.env
*.env.*
!.env.example
!.env.*.example
!*.env.example
!*.env.*.example
claude.md
.claude
__pycache__/
*.pyc
*.pyo
*skills-lock.json
*benchmark_results/
*.egg-info/
*build/
*.gemini/
*.github/
!.github/
!.github/workflows/
!.github/workflows/*.yml
*.agents/
*.agent
*test_datasets/
*webapp/frontend/node_modules
.idea
*tiktoken_encodings/
*AImodels/
backend/app/static/downloads/*.zip
vllm-inference/config/tool_chat_template_gemma4.jinja
